
/web-search.iml
### Gradle template
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Created by .ignore support plugin (hsz.mobi)
*.impl
build/classes/main/com/edu/security/AuthFailure.class
build/classes/main/com/edu/security/AuthSuccess.class
build/classes/main/iivaniv/
build/dependency-cache/
build/resources/main/static/
build/resources/main/templates/
build/tmp/compileJava/
build/tmp/compileTestJava/
build/tmp/test/jar_extract_128656667408318117_tmp
build/tmp/test/jar_extract_1353874789465316051_tmp
build/tmp/test/jar_extract_1672375678953753718_tmp
build/tmp/test/jar_extract_1822736556898962569_tmp
build/tmp/test/jar_extract_3192156149667521903_tmp
build/tmp/test/jar_extract_3405436772714797499_tmp
build/tmp/test/jar_extract_3862425100017594301_tmp
build/tmp/test/jar_extract_4223839095766394630_tmp
build/tmp/test/jar_extract_4519009752671065041_tmp
build/tmp/test/jar_extract_4649096534448994060_tmp
build/tmp/test/jar_extract_481039989807923528_tmp
build/tmp/test/jar_extract_5136571402440859523_tmp
build/tmp/test/jar_extract_5194060026899339409_tmp
build/tmp/test/jar_extract_529163345511459029_tmp
build/tmp/test/jar_extract_5501102372706980523_tmp
build/tmp/test/jar_extract_6013089751950480091_tmp
build/tmp/test/jar_extract_6418845349976808907_tmp
build/tmp/test/jar_extract_7130879258711373563_tmp
build/tmp/test/jar_extract_846012658047682425_tmp
build/tmp/test/jar_extract_8640485574743138654_tmp
build/tmp/test/jar_extract_8858526848661283495_tmp
build/tmp/test/jar_extract_8882302895523238853_tmp
classes/artifacts/web-search/web-search-0.0.1-SNAPSHOT.war
src/main/java/iivaniv/
src/main/resources/templates/
/.gradle/
/gradlew.bat
/gradlew
/.idea/
/gradle/
/classes/
/build/commit
/.gradle/2.13/taskArtifacts/cache.properties
/.gradle/2.13/taskArtifacts/cache.properties.lock
/.gradle/2.13/taskArtifacts/fileSnapshots.bin
/.gradle/2.13/taskArtifacts/taskArtifacts.bin
/.gradle/2.13/taskArtifacts/fileHashes.bin
/build/
/src/main/resources/static/node_modules/
