.job-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.job-item{
    flex: 1;
    height: 25%;
    margin: 10px 5px;
    border: #1976D2;
    border-style: groove;
    border-width: 2px;
    
    
    display: flex;
    flex-direction: column;
}

.job-item:hover{
    background-color: aquamarine; 
}


.item-title{
   color: #333;
   font-size: 1.4em;
   font-weight: bold;
   font-weight: 700;
   line-height: 1.2;
}