.job-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.job-item{
    flex: 1;
    height: 22%;
    margin: 2% 2%;
    background-color: white;
    border: #1976D2;
    border-style: groove;
    border-width: 2px;
    
    
    display: flex;
    flex-direction: column;
    
    transition: all 0.2s ease-in-out;
}

.job-item:hover{
  
   
   margin: 2% 1%;
}


.item-title{
   color: #333;
   font-size: 1.4em;
   font-weight: bold;
   font-weight: 700;
   line-height: 1.2;
}