a {
    text-decoration: none;
}

.main-nav {
   background: #1976D2;
    height: 56px;
    min-height: 56px;
    padding: 0% 2%;
    top: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
 
}

.nav-li {
    float: right;
    display: block;
}


.nav-link {
    line-height: 56px;
    height: 100%;
    display: block;
    color: white;
    position: relative;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    display: inline-block;
}

li a:hover {
    background-color: #398bdc;
}

@media( max-width: 600px){
  .main-nav{
    height: 28px;
    min-height: 28px;
  }
  
  .nav-link{
      line-height: 28px;
  }
}